* {
  outline: 1px solid black;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: lightgray;
  font-size: 2em;
}  

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


header, footer, .flex {
  flex-grow: 1;
  margin: 1em;
}

main {
  flex-grow: 2;
  min-height: 65vh;
}

.c, .d, .e {
  flex-grow: 4;
  margin: .5em;
}

aside {
  display: flex;
  justify-content: space-between;
  min-height: 35vh;
}

footer {
  flex-grow: 5;
  flex-direction: row;
  min-height: 100vh;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  header {
    width: 100%;
    max-height: 10vh;
}

  .flex {
    justify-content: stretch;
    flex-basis: 70%;
  }

  footer {
    flex-grow: 4;
    flex-direction: column;
    max-height: 25vw;
  }
}